<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="MegaLimited.7475E04196F8" Publisher="CN=78B72E51-6188-4F93-9245-24D5C79F8840" Version="2.0.4.81" />
  <mp:PhoneIdentity PhoneProductId="7d8d3817-2eb5-416a-9147-ed5e83dee03e" PhonePublisherId="78b72e51-6188-4f93-9245-24d5c79f8840" />
  <Properties>
    <DisplayName>MEGA Privacy</DisplayName>
    <PublisherDisplayName>Mega Limited</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="x7d8d3817y2eb5y416ay9147yed5e83dee03ex" Executable="AGHost.exe" EntryPoint="Pages\MainPage.xaml">
      <m3:VisualElements DisplayName="MEGA Privacy" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="MEGA Cloud Service Application" ForegroundText="light" BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png">
        </m3:DefaultTile>
        <!--<m3:SplashScreen Image="Assets\Splashscreen.png" />-->
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="megafile">
            <DisplayName>MEGA files</DisplayName>
            <SupportedFileTypes>
              <FileType ContentType="image/png">.png</FileType>
              <FileType ContentType="image/jpeg">.jpg</FileType>
              <FileType ContentType="image/jpeg">.jpeg</FileType> 
              <!--<FileType ContentType="application/x-3ds">.3ds</FileType>--> 
              <!--<FileType ContentType="x-world/x-3dmf">.3dm</FileType>--> 
              <!--<FileType ContentType="application/x-paperport">.max</FileType>--> 
              <!--<FileType ContentType="application/obj">.obj</FileType>--> 
              <!--<FileType ContentType="application/aep">.aep</FileType>--> 
              <!--<FileType ContentType="application/aet">.aet</FileType>--> 
              <!--<FileType ContentType="application/dxf">.dxf</FileType>--> 
              <!--<FileType ContentType="image/x-dwg">.dwg</FileType>--> 
              <!--<FileType ContentType="application/dwt">.dwt</FileType>--> 
              <!--<FileType ContentType="application/msaccess">.accdb</FileType> -->
              <!--<FileType ContentType="text/plain">.sql</FileType>--> 
              <!--<FileType ContentType="application/db">.db</FileType>--> 
              <!--<FileType ContentType="application/dbf">.dbf</FileType>--> 
              <!--<FileType ContentType="application/vnd.ms-access">.mdb</FileType>--> 
              <!--<FileType ContentType="chemical/x-pdb">.pdb</FileType>--> 
              <!--<FileType ContentType="application/octet-stream">.exe</FileType>--> 
              <!--<FileType ContentType="application/octet-stream">.com</FileType>--> 
              <!--<FileType ContentType="application/bin">.bin</FileType>-->
              <!--<FileType ContentType="application/vnd.android.package-archive">.apk</FileType>-->
              <!--<FileType ContentType="application/app">.app</FileType>-->
              <!--<FileType ContentType="application/x-msi">.msi</FileType>-->
              <!--<FileType ContentType="application/cmd">.cmd</FileType>-->
              <!--<FileType ContentType="application/octet-stream">.gadget</FileType>-->
              <!--<FileType ContentType="application/as">.as</FileType>-->
              <!--<FileType ContentType="text/plain">.asc</FileType>-->
              <!--<FileType ContentType="application/ascs">.ascs</FileType>-->
              <!--<FileType ContentType="application/fla">.fla</FileType>-->
              <!--<FileType ContentType="application/fnt">.fnt</FileType>-->
              <!--<FileType ContentType="application/vnd.ms-opentype">.otf</FileType>-->
              <!--<FileType ContentType="application/x-font-ttf">.ttf</FileType>-->
              <!--<FileType ContentType="application/octet-stream">.fon</FileType>-->
              <!--<FileType ContentType="image/bmp">.bmp</FileType>-->
              <!--<FileType ContentType="image/gif">.gif</FileType>-->
              <!--<FileType ContentType="image/tiff">.tif</FileType>-->
              <!--<FileType ContentType="image/tiff">.tiff</FileType>-->
              <!--<FileType ContentType="image/x-tga">.tga</FileType>-->
              <!--<FileType ContentType="image/x-icon">.ico</FileType>-->
              <!--<FileType ContentType="application/gpx">.gpx</FileType>-->
              <!--<FileType ContentType="application/vnd.google-earth.kml+xml">.kml</FileType>-->
              <!--<FileType ContentType="application/vnd.google-earth.kmz">.kmz</FileType>-->
              <!--<FileType ContentType="text/html">.html</FileType>-->
              <!--<FileType ContentType="text/html">.htm</FileType>-->
              <!--<FileType ContentType="text/html">.dhtml</FileType>-->
              <!--<FileType ContentType="application/xhtml+xml">.xhtml</FileType>-->
              <!--<FileType ContentType="application/postscript">.ai</FileType>-->
              <!--<FileType ContentType="application/ait">.ait</FileType>-->
              <!--<FileType ContentType="application/indd">.indd</FileType>-->
              <!--<FileType ContentType="application/java-archive">.jar</FileType>-->
              <!--<FileType ContentType="text/plain">.java</FileType>-->
              <!--<FileType ContentType="application/java-vm">.class</FileType>-->
              <!--<FileType ContentType="audio/midi">.midi</FileType>-->
              <!--<FileType ContentType="audio/midi">.mid</FileType>-->
              <!--<FileType ContentType="application/x-photoshop">.abr</FileType>-->
              <!--<FileType ContentType="application/x-photoshop">.psb</FileType>-->
              <!--<FileType ContentType="image/vnd.adobe.photoshop">.psd</FileType>-->
              <!--<FileType ContentType="text/plain">.pls</FileType>-->
              <!--<FileType ContentType="text/plain">.m3u</FileType>-->
              <!--<FileType ContentType="video/x-ms-asf">.asx</FileType>-->
              <!--<FileType ContentType="text/xml">.pcast</FileType>-->
              <!--<FileType ContentType="application/prproj">.prproj</FileType>-->
              <!--<FileType ContentType="application/ppj">.ppj</FileType>-->
              <!--<FileType ContentType="application/3fr">.3fr</FileType>-->
              <!--<FileType ContentType="image/x-raw">.arw</FileType>-->
              <!--<FileType ContentType="application/bay">.bay</FileType>-->
              <!--<FileType ContentType="application/cr2">.cr2</FileType>-->
              <!--<FileType ContentType="application/dcr">.dcr</FileType>-->
              <!--<FileType ContentType="image/dng">.dng</FileType>-->
              <!--<FileType ContentType="application/fff">.fff</FileType>-->
              <!--<FileType ContentType="application/mef">.mef</FileType>-->
              <!--<FileType ContentType="image/x-raw">.mrw</FileType>-->
              <!--<FileType ContentType="application/nef">.nef</FileType>-->
              <!--<FileType ContentType="application/pef">.pef</FileType>-->
              <!--<FileType ContentType="image/x-raw">.rw2</FileType>-->
              <!--<FileType ContentType="image/x-raw">.srf</FileType>-->
              <!--<FileType ContentType="image/x-raw">.orf</FileType>-->
              <!--<FileType ContentType="application/rwl">.rwl</FileType>-->
              <!--<FileType ContentType="application/vnd.rn-realmedia">.rm</FileType>-->
              <!--<FileType ContentType="audio/vnd.rn-realaudio">.ra</FileType>-->
              <!--<FileType ContentType="audio/vnd.rn-realaudio">.ram</FileType>-->
              <!--<FileType ContentType="text/plain">.sh</FileType>-->
              <!--<FileType ContentType="text/plain">.c</FileType>-->
              <!--<FileType ContentType="text/plain">.cc</FileType>-->
              <!--<FileType ContentType="text/plain">.ccp</FileType>-->
              <!--<FileType ContentType="text/plain">.cxx</FileType>-->
              <!--<FileType ContentType="text/plain">.h</FileType>-->
              <!--<FileType ContentType="text/plain">.hpp</FileType>-->
              <!--<FileType ContentType="application/x-msdownload">.dll</FileType>-->
              <!--<FileType ContentType="text/plain">.cs</FileType>-->
              <!--<FileType ContentType="text/plain">.vb</FileType>-->
              <!--<FileType ContentType="application/x-bittorrent">.torrent</FileType>-->
              <!--<FileType ContentType="text/x-vcard">.vcf</FileType>-->
              <!--<FileType ContentType="video/x-matroska">.mkv</FileType>-->
              <!--<FileType ContentType="video/webm">.webm</FileType>-->
              <FileType ContentType="video/x-msvideo">.avi</FileType>
              <FileType ContentType="video/mp4">.mp4</FileType>
              <!--<FileType ContentType="video/x-m4v">.m4v</FileType>-->
              <!--<FileType ContentType="video/mpeg">.mpg</FileType>-->
              <FileType ContentType="video/mpeg">.mpeg</FileType>
              <FileType ContentType="video/quicktime">.mov</FileType>
              <!--<FileType ContentType="video/3gpp2">.3g2</FileType>-->
              <!--<FileType ContentType="video/x-ms-asf">.asf</FileType>-->
              <FileType ContentType="video/x-ms-wmv">.wmv</FileType>
              <!--<FileType ContentType="text/plain">.srt</FileType>-->
              <!--<FileType ContentType="application/vob">.vob</FileType>-->
              <!--<FileType ContentType="text/xml">.xml</FileType>-->
              <!--<FileType ContentType="text/html">.shtml</FileType>-->
              <!--<FileType ContentType="text/javascript">.js</FileType>-->
              <!--<FileType ContentType="text/css">.css</FileType>-->
              <!--<FileType ContentType="application/x-httpd-php">.php</FileType>-->
              <!--<FileType ContentType="application/x-httpd-php">.php3</FileType>-->
              <!--<FileType ContentType="application/x-httpd-php">.php4</FileType>-->
              <!--<FileType ContentType="application/x-httpd-php">.php5</FileType>-->
              <!--<FileType ContentType="application/x-httpd-php">.phtml</FileType>-->
              <!--<FileType ContentType="application/inc">.inc</FileType>-->
              <!--<FileType ContentType="text/plain">.asp</FileType>-->
              <!--<FileType ContentType="text/plain">.aspx</FileType>-->
              <!--<FileType ContentType="application/x-perl">.pl</FileType>-->
              <!--<FileType ContentType="application/cgi">.cgi</FileType>-->
              <!--<FileType ContentType="text/x-python">.py</FileType>-->
              <FileType ContentType="application/msword">.doc</FileType>
              <FileType ContentType="application/vnd.openxmlformats">.docx</FileType>
              <!--<FileType ContentType="application/vnd.openxmlformats">.dotx</FileType>-->
              <!--<FileType ContentType="application/vnd.ms-works">.wps</FileType>-->
              <!--<FileType ContentType="image/x-eps">.eps</FileType>-->
              <!--<FileType ContentType="image/svg+xml">.svg</FileType>-->
              <!--<FileType ContentType="image/svg+xml">.svgz</FileType>-->
              <!--<FileType ContentType="image/x-coreldraw">.cdr</FileType>-->
              <FileType ContentType="audio/mpeg">.mp3</FileType>
              <!--<FileType ContentType="audio/x-wav">.wav</FileType>-->
              <!--<FileType ContentType="audio/3ga">.3ga</FileType>-->
              <!--<FileType ContentType="audio/x-aiff">.aif</FileType>-->
              <!--<FileType ContentType="audio/x-aiff">.aiff</FileType>-->
              <!--<FileType ContentType="audio/x-flac">.flac</FileType>-->
              <!--<FileType ContentType="application/x-iff">.iff</FileType>-->
              <!--<FileType ContentType="audio/x-m4a">.m4a</FileType>-->
              <FileType ContentType="audio/x-ms-wma">.wma</FileType>
              <FileType ContentType="application/pdf">.pdf</FileType>
              <FileType ContentType="application/mspowerpoint">.ppt</FileType>
              <FileType ContentType="application/vnd.openxmlformats">.pptx</FileType>
              <!--<FileType ContentType="application/mspowerpoint">.pps</FileType>-->
              <!--<FileType ContentType="application/x-shockwave-flash">.swf</FileType>-->
              <FileType ContentType="text/plain">.txt</FileType>
              <FileType ContentType="application/rtf">.rtf</FileType>
              <!--<FileType ContentType="text/x-ansi">.ans</FileType>-->
              <!--<FileType ContentType="text/plain">.ascii</FileType>-->
              <!--<FileType ContentType="text/plain">.log</FileType>-->
              <!--<FileType ContentType="application/vnd.oasis.opendocument.text">.odt</FileType>-->
              <!--<FileType ContentType="application/wpd">.wpd</FileType>-->
              <FileType ContentType="application/vnd.ms-excel">.xls</FileType>
              <FileType ContentType="application/vnd.openxmlformat">.xlsx</FileType>
              <!--<FileType ContentType="application/vnd.ms-excel">.xlt</FileType>-->
              <!--<FileType ContentType="application/vnd.ms-excel">.xltm</FileType>-->
              <FileType ContentType="application/x-zip-compressed">.zip</FileType>
              <!--<FileType ContentType="application/x-rar-compressed">.rar</FileType>-->
              <!--<FileType ContentType="application/x-gzip">.tgz</FileType>-->
              <!--<FileType ContentType="application/x-gzip">.gz</FileType>-->
              <!--<FileType ContentType="application/x-bzip2">.bz2</FileType>-->
              <!--<FileType ContentType="application/x-bzip">.tbz</FileType>-->
              <!--<FileType ContentType="application/x-tar">.tar</FileType>-->
              <!--<FileType ContentType="application/x-7z-compressed">.7z</FileType>-->
              <!--<FileType ContentType="application/x-sea">.sitx</FileType>-->
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="musicLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="removableStorage" />
    <Capability Name="videosLibrary" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>